<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://www.gstatic.com/devrel-devsite/prod/v7385327dc46d08b8dfdb825d1a873cb039e1740549bdbb7e3c982c2f1dbdd48e/firebase/images/touchicon-180.png"
            width="30" height="30" class="d-inline-block align-top" alt="">
        Sistema de Gestión de Colecciones
    </a>

    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Funko Pop
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/funko-list">Ver lista</button>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Pokemon
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="#">Ver pokedex</button>
        </div>
    </div>

    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else btnIngresar">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}"
            width="30" height="30" class="d-inline-block align-top" alt="">
            {{user.displayName ? user.displayName : user.email}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="logout()">Salir</button>
        </div>
    </div>

    

   

    <ng-template #btnIngresar>
        <button class="btn btn-outline-primary" routerLink="/login">
            Ingresar
        </button>
    </ng-template>
    
</nav>