
<div class="wrapper">
    <!-- SIDEBAR -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Gestión de Colecciones</h3>
        </div>

        <ul class="list-unstyled components" *ngIf="userLogged|async as user">
            <li>
                <a href="/home">Dashboard</a>
            </li>
            <li class="">
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    Funkos
                </a>

                <ul class="colapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a routerLink="/funko-list">Ver lista</a>
                    </li>
     
                </ul>
            </li>
        </ul>
    </nav>

    <!-- MAINCONTENT -->
    <div id="content">

        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed- flex-md-nowrap back">  
            <div class="container-fluid">
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user">
                        <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                            Pokemon
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem routerLink="#">Ver pokedex</button>
                        </div>
                    </div>
                </div>

            </div>   
            
    
            <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else btnIngresar">
                <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                    <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}"
                    width="30" height="30" class="d-inline-block align-top" alt="">
                    {{user.displayName ? user.displayName : user.email}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="logout()">Salir</button>
                </div>
            </div>
        
            <ng-template #btnIngresar>
                <button class="btn btn-outline-primary btn-sm" routerLink="/login">
                    Ingresar
                </button>
            </ng-template>
            
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>

