<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <span class="badge badge-primary">Home</span>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                <span class="badge badge-success">llavero-overview</span>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bordecito">
    <h1 class="" style="align-content: center;">Resumen llaveros </h1>
    <a routerLink="/llavero-list" class="btn btn-info" >
      <fa-icon [icon]="faList"></fa-icon>
      Ver lista
    </a>
</div>

<div class="row">
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter primary">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llavero.length}}</span>
          <span class="count-name">Total llaveros</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter success">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroPlastico.length}}</span>
          <span class="count-name">Plásticos</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter info">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroGoma.length}}</span>
          <span class="count-name">Goma</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter danger">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroGomaDura.length}}</span>
          <span class="count-name">Goma Dura</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter warnning">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroMetal.length}}</span>
          <span class="count-name">Metálicos</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter cuero">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroCuero.length}}</span>
          <span class="count-name">Cuero</span>
        </div>
    </div>
    
<!--
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                    <i class="fa fa-key" style="color:#BB7824"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Cantidad de llaveros
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
                    <i class="fa fa-key" style="color:#16A085"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Llaveros plásticos
                        <div class="pull-right badge">{{this.llaveroPlastico.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(213, 15, 37, 0.1)">
                    <i class="fa fa-key" style="color:#d50f25"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Llaveros de goma
                        <div class="pull-right badge">{{this.llaveroGoma.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(123, 67, 73, 0.1)">
                    <i class="fa fa-key" style="color:#bc646e"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Llaveros de metal
                        <div class="pull-right badge">{{this.llaveroMetal.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(74, 15, 213, 0.1)">
                    <i class="fa fa-key" style="color:#120fd5"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Llaveros goma dura
                        <div class="pull-right badge">{{this.llaveroGomaDura.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(213, 187, 15, 0.1)">
                    <i class="fa fa-key" style="color:#d5ce0f"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Llaveros de Cuero
                        <div class="pull-right badge">{{this.llaveroCuero.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(213, 187, 15, 0.1)">
                    <i class="fa fa-key" style="color:#d5ce0f"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Llaveros de Madera
                        <div class="pull-right badge">{{this.llaveroMadera.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
-->
</div>

<div class="row">
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter madera">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroMadera.length}}</span>
          <span class="count-name">Madera</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter hueso">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroHueso.length}}</span>
          <span class="count-name">Hueso</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter peluche">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroPeluche.length}}</span>
          <span class="count-name">Peluche</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter lana">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroLana.length}}</span>
          <span class="count-name">Lana</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter tipochapa">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroTipoChapa.length}}</span>
          <span class="count-name">Tipo chapa</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter aliado">
          <i class="fa fa-key"></i>
          <span class="count-numbers">
            {{this.llavero.length - this.llaveroTipoChapa.length - this.llaveroLana.length - this.llaveroPeluche.length -this.llaveroHueso.length - this.llaveroMadera.length - this.llaveroCuero.length - this.llaveroMetal.length - this.llaveroGomaDura.length - this.llaveroGoma.length - this.llaveroPlastico.length}}
          </span>
          <span class="count-name">Aliado</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                    <i class="fa fa-key" style="color:#BB7824"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Cantidad de llaveros
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                    </h4>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Cantidad de llaveros
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 bordecito">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                    <i class="fa fa-key" style="color:#BB7824"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Cantidad de llaveros
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                    </h4>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Cantidad de llaveros
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                        <div class="pull-right badge">{{this.llavero.length}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>

</div>
