<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <span class="badge badge-primary">Home</span>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                <span class="badge badge-success">llavero-overview</span>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bordecito">
    <h1 class="" style="align-content: center;">Resumen llaveros </h1>
    <a routerLink="/llavero-list" class="btn btn-info" >
      <fa-icon [icon]="faList"></fa-icon>
      Ver lista
    </a>
</div>


<div class="row">
  <div class="col-md-4 col-sm-4">
    <h4 class="text-center">Clasificación por paises</h4>
  </div>
  <div class="col-md-8 col-sm-8">
    <h4 class="text-center">Clasificación por material</h4>
  </div>
</div>
<div class="row bordecito">
  <div class="col-md-4 col-sm-4 table-responsive bordecito">
    <table class="table table-bordered table-striped table-sm ">
      <thead>
        <tr>
          <th class="text-center" scope="col">País</th>
          <th class="text-center" scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/7/78/Flag_of_Chile.svg">
          </td>
          <td class="text-center"><strong>{{this.llaveroChile.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg">
          </td>
          <td class="text-center"><strong>{{this.llaveroBrasil.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1920px-Bandera_de_Espa%C3%B1a.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroEspana.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/1920px-Flag_of_England.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroInglaterra.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/1920px-Flag_of_Italy.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroItalia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Costa_Rica_%28state%29.svg/1920px-Flag_of_Costa_Rica_%28state%29.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroCostaRica.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1920px-Flag_of_Germany.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroAlemania.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1920px-Flag_of_the_United_States.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroEeuu.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/1920px-Flag_of_Poland.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroPolonia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Flag_of_Cuba.svg/1920px-Flag_of_Cuba.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroCuba.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/1920px-Flag_of_Greece.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroGrecia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1920px-Flag_of_Argentina.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroArgentina.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/2/27/Flag_of_Paraguay.svg">
          </td>
          <td class="text-center"><strong>{{this.llaveroParaguay.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/1920px-Flag_of_Uruguay.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroUruguay.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Flag_of_Peru.svg/1920px-Flag_of_Peru.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroPeru.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1920px-Flag_of_Australia_%28converted%29.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroAustralia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/1920px-Flag_of_Colombia.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroColombia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Bolivia.svg">
          </td>
          <td class="text-center"><strong>{{this.llaveroBolivia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/1920px-Flag_of_Mexico.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroMexico.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/1920px-Flag_of_Turkey.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroTurquia.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/1920px-Flag_of_Ecuador.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroEcuador.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_Puerto_Rico.svg/1920px-Flag_of_Puerto_Rico.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroPuertoRico.length}}</strong></td>
        </tr>
        <tr>
          <td class="text-center">
            <img _ngcontent-jhc-c15="" class="mr-2" style="width: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/1920px-Flag_of_Canada_%28Pantone%29.svg.png">
          </td>
          <td class="text-center"><strong>{{this.llaveroCanada.length}}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8 col-sm-8 bordecito">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xl-3 bordecito">
        <div class="card-counter primary">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llavero.length}}</span>
          <span class="count-name">Total llaveros</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter success">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroPlastico.length}}</span>
          <span class="count-name">Plásticos</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter info">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroGoma.length}}</span>
          <span class="count-name">Goma</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter danger">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroGomaDura.length}}</span>
          <span class="count-name">Goma Dura</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter warnning">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroMetal.length}}</span>
          <span class="count-name">Metálicos</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter cuero">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroCuero.length}}</span>
          <span class="count-name">Cuero</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter madera">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroMadera.length}}</span>
          <span class="count-name">Madera</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter hueso">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroHueso.length}}</span>
          <span class="count-name">Hueso</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter peluche">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroPeluche.length}}</span>
          <span class="count-name">Peluche</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter lana">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroLana.length}}</span>
          <span class="count-name">Lana</span>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter tipochapa">
          <i class="fa fa-key"></i>
          <span class="count-numbers">{{this.llaveroTipoChapa.length}}</span>
          <span class="count-name">Tipo chapa</span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xl-2 bordecito">
        <div class="card-counter aliado">
          <i class="fa fa-key"></i>
          <span class="count-numbers">
            {{this.llavero.length - this.llaveroTipoChapa.length - this.llaveroLana.length - this.llaveroPeluche.length
            -this.llaveroHueso.length - this.llaveroMadera.length - this.llaveroCuero.length - this.llaveroMetal.length
            - this.llaveroGomaDura.length - this.llaveroGoma.length - this.llaveroPlastico.length}}
          </span>
          <span class="count-name">Aliado</span>
        </div>
      </div>
    </div>
  </div>
</div>