<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <span class="badge badge-primary">Home</span>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span class="badge badge-success">llavero-list</span>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bordecito">
    <h1 class="" style="align-content: center;" *ngIf="hideWhenNoLlavero">Llaveros registrados {{Llavero.length}}</h1>
    <h1 class="" style="align-content: center;" *ngIf="noData">Llaveros registrados {{Llavero.length}}</h1>
    <a routerLink="/llavero-add" class="btn btn-success" >
      <fa-icon [icon]="faAdd"></fa-icon> 
      Añadir
    </a>
</div>

<div class="pricing-header mx-auto album py-5 bg-light bordecito">

  <!-- No data shows when their is no student data available -->
  <div class="no-data text-center" *ngIf="noData">
    
    <p class="nodata-msg">No existen llaveros registrados aún!</p>
    <a routerLink="/agregar-llavero" class="btn btn-success">
      <fa-icon [icon]="faAdd"></fa-icon>
      Añadir llavero
    </a>
  </div>

  <!-- Showing students data -->
  <div class="table-responsive" *ngIf="hideWhenNoLlavero">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Material</th>
          <th class="text-center" scope="col">Imagen</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let llavero of Llavero | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">  
          <td>{{llavero.numero}}</td>
          <td>{{llavero.nombre}}</td>
          <td>{{llavero.material}}</td> 
          <td class="text-center" *ngIf="llavero.img != ''; else vacio"><fa-icon [icon]="faCheckDouble"></fa-icon></td>
          <td class="text-center action-block">
            <button mat-button class="btn btn-info" routerLink="/llavero-detail/{{llavero.$key}}"><fa-icon [icon]="faEye"></fa-icon></button>&nbsp;
            <button mat-button class="btn btn-warning" routerLink="/llavero-edit/{{llavero.$key}}"><fa-icon [icon]="faEdit"></fa-icon></button>&nbsp;
            <button mat-button class="btn btn-danger" (click)="deleteLlavero(llavero)"><fa-icon [icon]="faTrash"></fa-icon></button>
        </tr>
      </tbody>
    </table>
    <ng-template #vacio>
      <td class="text-center"><fa-icon [icon]="faCircleXmark"></fa-icon></td> 
    </ng-template>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" ></pagination-controls>
</div>