<div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <span class="badge badge-primary">Home</span>
    
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                  <span class="badge badge-success">llavero-edit</span>
    
              </li>
          </ol>
      </nav>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bordecito">
    <h1 class="h2">Editar llavero</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
       <div class="btn-group">
          <button class="btn btn-warning" routerLink="/llavero-list">Volver</button>
       </div>
    </div>
</div>

<div class="row bordecito">
    <div class="col-md-12">
        <div class="pricing-header form-block mx-auto">
            <form [formGroup]="llaveroEditForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="Número de colección">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre del llavero">
                        </div>
                        <div class="form-group">
                            <label for="material">Material</label>
                            <input type="text" class="form-control" id="material" formControlName="material" placeholder="Material del llavero">
                        </div>
                        <div class="form-group">
                            <label for="pais">País</label>
                            <input type="text" class="form-control" id="pais" formControlName="pais" placeholder="País de procedencia del llavero">
                        </div>
                        <div class="form-group">
                            <label for="comentarios">Comentarios</label>
                            <input type="text" class="form-control" id="comentarios" formControlName="comentarios" placeholder="comentarios">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="row">
                            <div *ngIf="existImage; else dontExist" class="col-md-12 mb-3">
                                <img src="{{this.urlImage}}" alt="">
                            </div>    
                        </div>
                    </div>
                </div>
                <ng-template #dontExist>
                    <img src="" alt="No existe imagen">
                  </ng-template>
                <button type="submit" class="btn btn-primary btn-block m-2">Editar</button>
            </form>
        </div>
    </div>
</div>  