<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b> Registro de usuarios</b>
      </div>
      <div class="card-body p-4">

        <!-- Register Form -->
        <form [formGroup]="formRegister" (ngSubmit)="registrarse()" novalidate>
            <label style="float: left;">Email</label>
            <input formControlName="email" type="text" autocomplete="off" class="form-control m-2" placeholder="correo@ejemplo.com" required>
            <div class="mb-3" *ngIf="formRegister.get('email').errors && formRegister.get('email').dirty">
              <span class="spanAlert">
                  <span *ngIf="formRegister.get('email').hasError('required')">
                      El campo es requerido
                  </span>
                  <span *ngIf="formRegister.get('email').hasError('email')">
                      El formato de correo es incorrecto
                  </span>
              </span>
            </div>
            
            <label style="float: left;">Password</label>
            <input formControlName="password" type="password" autocomplete="off" class="form-control m-2" id="password" placeholder="*************">
            <div class="mb-3" *ngIf="formRegister.get('password').errors && formRegister.get('password').dirty">
              <span class="spanAlert"> 
                  <span *ngIf="formRegister.get('password').hasError('required')">
                      El campo es requerido
                  </span>
                  <span *ngIf="formRegister.get('password').hasError('minlength')">
                      La contraseña debe tener al menos 6 caracteres
                  </span>
                  <span *ngIf="formRegister.get('password').hasError('maxlength')">
                      La contraseña debe tener un máximo de 10 caracteres
                  </span>
          
                  <span  *ngIf="formRegister.get('password').hasError('hasNumber')">
                    Debe tener al menos 1 número
                  </span>
                  <span  *ngIf="formRegister.get('password').hasError('hasCapitalCase')">
                      Debe tener al menos 1 mayúscula
                  </span>
                  <span  *ngIf="formRegister.get('password').hasError('hasSmallCase')">
                      Debe tener al menos 1 minúscula
                  </span>
                  <span *ngIf="formRegister.get('password').hasError('hasSpecialCharacters')">
                      Debe tener al menos 1 carácter especial
                  </span>
      
              </span>
            </div>
            
            <button class="btn btn-primary btn-block m-2"  type="submit" >
                Registrarse
            </button>
            <label>Ya tienes cuenta? <a routerLink="/login">Ingresar</a></label>
        </form>
        <!-- End Register Form -->
        <!-- <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">
  
        <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrarse</button>

        <label>Ya tienes cuenta? <a routerLink="/login">Ingresar</a></label> -->
 
      </div>
      
  
    </div>
</div>