<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b> Registro de usuarios</b>
      </div>
      <div class="card-body p-4">

        <!-- Register Form -->
        <form [formGroup]="formRegister" (ngSubmit)="registrarse()">
            <label style="float: left;">Email</label>
            <input formControlName="email" type="text" autocomplete="off" class="form-control m-2" placeholder="correo@ejemplo.com" required>
            
            <label style="float: left;">Password</label>
            <input formControlName="password" type="password" autocomplete="off" class="form-control m-2" id="password" placeholder="*************">
            <label class="text-danger" *ngIf="formRegister.controls['password'].hasError('hasNumber')">
                Debe tener al menos 1 número
            </label>
            <label class="text-danger" *ngIf="formRegister.controls['password'].hasError('hasCapitalCase')">
                Debe tener al menos 1 mayúscula
            </label>
            <label class="text-danger" *ngIf="formRegister.controls['password'].hasError('hasSmallCase')">
                Debe tener al menos 1 minúscula
            </label>
            <label class="text-danger" *ngIf="formRegister.controls['password'].hasError('hasSpecialCharacters')">
                Debe tener al menos 1 carácter especial
            </label>

            <button class="btn btn-primary btn-block m-2"  type="submit" [disabled]="!formRegister.valid">
                Registrarse
            </button>
            <label>Ya tienes cuenta? <a routerLink="/login">Ingresar</a></label>
        </form>
        <!-- End Register Form -->
        <!-- <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">
  
        <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrarse</button>

        <label>Ya tienes cuenta? <a routerLink="/login">Ingresar</a></label> -->
 
      </div>
      
  
    </div>
</div>